body {
  margin: 0;
  padding-top: 2rem;
  font-size: 18px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #17254a;
  height: 100vh;
  box-sizing: border-box;
}

.content {
  max-width: 50rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 5vw;
  padding: 2rem 0;
  box-sizing: border-box;
}

main {
  margin-right: 2rem;
}

main > *:first-child {
  margin-top: 0;
}

h1 {
  font-size: 5.55rem;
  margin-bottom: 2rem;
  line-height: 100%;
}

h2 {
  font-size: 1.7rem;
  margin-top: 0;
}

p:nth-of-type(2n) {
  margin-top: 2.5rem;
}

main a {
  text-decoration: none;
  font-weight: bold;
  color: inherit;
}

button {
  margin-top: 2rem;
  appearance: none;
  border: none;
  background-color: #cfe6ed;
  width: 11.5rem;
  height: 3.28rem;
  text-transform: uppercase;
  display: block;
  font-family: inherit;
  font-size: 1rem;
  font-weight: bold;
  box-shadow: 3px 3px #0a82854d;
  border-radius: 1000px;
}

.img-main {
  position: absolute;
  right: 0;
  top: 0;
  height: 100vh;
  z-index: -1;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 80%;
}

nav > * {
  margin: 0;
}

nav > img {
  height: 2.3rem;
}

nav > a {
  text-transform: uppercase;
  font-size: 1.2rem;
}

nav > p {
  font-family: TisaSansPro-Bold, Tisa Sans Pro;
  font-weight: 700;
  font-size: 2.5rem;
}

.support {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.support > p {
  font-size: 0.85rem;
}

.support > img {
  height: 3rem;
}

.support > img:nth-of-type(2n) {
  transform: scale(0.8);
}

#life::after {
  content: '\A';
  white-space: pre;
}

@media (max-width: 1200px) {
  body {
    padding: 0;
    height: initial;
    width: 100vw;
  }

  .content {
    margin: 0;
    padding: 5vw;
    position: relative;
    margin: auto;
  }

  .img-main {
    width: 100vw;
    height: initial;
  }

  nav {
    margin-top: 40vw;
    position: absolute;
  }

  nav > p {
    font-size: min(18vmin, 7rem);
  }

  nav > *:not(:first-child) {
    display: none;
  }

  main {
    margin: 0;
    margin-top: 100vw;
  }

  h1 {
    font-size: 3rem;
  }

  h1,
  h2 {
    text-align: center;
  }

  button {
    margin: 7vmin auto;
  }

  #life::after {
    content: none;
  }

  .support {
    flex-direction: column;
    align-items: center;
  }

  img[alt~='uk'] {
    height: initial;
    width: 70%;
  }
}
