.content {
  height: auto;
}

.hbspt-form {
  margin: auto;
  margin-top: 15vh;
  max-width: 30rem;
  max-width: min(30rem, 95vw);
}

.hbspt-form::after {
  content: '';
  display: block;
  width: 100%;
  height: 80px;
  position: relative;
  transform: translateY(-100%);
  background-color: #fff;
}

.mobile-nav {
  top: 1rem;
}

@media (orientation: portrait) {
  .hbspt-form {
    margin-top: 2rem;
  }
}
