.content {
  min-height: 100%;
  margin-right: 5vw;
  max-width: initial;
  padding-bottom: 0;
}

.desktop-nav {
  max-width: 35rem;
}

.form-wrap {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15vh;
  flex-grow: 1;
}

.hbspt-form {
  display: block;
  width: 30rem;
  max-width: 100%;
  background-color: #fff;
  margin-top: -5rem;
}

.hbspt-form::after {
  content: '';
  display: block;
  width: 100%;
  height: 80px;
  position: relative;
  transform: translateY(-100%);
  background-color: #fff;
}

.hue {
  position: relative;
  width: 100%;
  height: 60px;
  display: block;
  transform: translateY(-220px);
  backdrop-filter: hue-rotate(190deg) saturate(30%) brightness(130%);
  pointer-events: none;
}

.thanks {
  position: relative;
  transform: translateY(100px);
  z-index: -1;
  margin-bottom: 5rem;
  visibility: hidden;
}

.mobile-nav {
  top: 1rem;
}

@media (orientation: portrait) {
  .form-wrap {
    margin-top: 0;
  }

  .desktop-nav {
    display: none;
  }
}

@media (min-height: 850px) {
  body {
    overflow-y: hidden;
  }
}
