h1 {
  font-size: 5.55rem;
  margin-bottom: 2rem;
  line-height: 100%;
}

h2 {
  font-size: 1.7rem;
  margin-top: 0;
}

p:nth-of-type(2n) {
  margin-top: 2.5rem;
}

main {
  margin-right: 2rem;
  margin-top: 5vh;
}

main > *:first-child {
  margin-top: 0;
}

main a {
  text-decoration: none;
  font-weight: bold;
  color: inherit;
}

main > button {
  margin-top: 3rem;
  appearance: none;
  border: none;
  background-color: var(--cl-accent);
  width: 11.5rem;
  height: 3.28rem;
  text-transform: uppercase;
  display: block;
  font-family: inherit;
  font-size: 1rem;
  font-weight: bold;
  box-shadow: 1px 1px 3px #0a82854d;
  border-radius: 1000px;
}

.img-main {
  position: absolute;
  right: 0;
  top: 0;
  height: 100vh;
  z-index: -1;
}

.support {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.support > p {
  font-size: 0.85rem;
}

.support > img {
  height: 3rem;
}

.support > img:nth-of-type(2n) {
  transform: scale(0.8);
}

.support > img[alt~='europe'] {
  transform: scale(1.6);
}

#life::after {
  content: '\A';
  white-space: pre;
}

@media (orientation: portrait) {
  .img-main {
    width: 100vw;
    height: initial;
  }

  main {
    margin: 0;
    margin-top: 93vw;
  }

  h1 {
    font-size: 3rem;
  }

  h1,
  h2 {
    text-align: center;
  }

  main > button {
    margin: 7vmin auto;
    margin-top: 3rem;
  }

  #life::after {
    content: none;
  }

  .support {
    flex-direction: column;
    align-items: center;
  }

  .support p {
    text-align: left;
    width: 100%;
    margin: 2rem 0;
  }

  .support > * {
    margin-bottom: 4rem;
  }

  img[alt~='uk'] {
    height: initial;
    width: 10rem;
    margin-top: -1rem;
  }
}

@media (orientation: landscape) and (max-width: 1240px) {
  .img-main {
    position: fixed;
    margin-right: calc(100vw - 1240px);
  }
}
