h1 {
  font-size: 3.55rem;
  margin-bottom: 2rem;
  line-height: 100%;
}

h2 {
  font-size: 1.7rem;
  margin-top: 0;
}

main {
  margin-right: 2rem;
  margin-top: 5vh;
}

main > *:first-child {
  margin-top: 0;
}

main a {
  text-decoration: none;
  font-weight: bold;
  color: inherit;
}

.content {
  min-height: 100%;
}

.cta {
  display: block;
  margin-top: 3rem;
  background-color: var(--cl-accent);
  width: 11.5rem;
  height: 3.28rem;
  text-transform: uppercase;
  font-weight: bold;
  box-shadow: 1px 1px 3px #0a82854d;
  border-radius: 1000px;
  line-height: 3.28rem;
  text-align: center;
}

.img-main {
  position: absolute;
  right: 0;
  top: 0;
  height: 100vh;
  z-index: -1;
}

.support {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.support > p {
  font-size: 0.85rem;
}

.support img {
  height: 3rem;
}

.support img[alt~='europe'] {
  transform: scale(1.6);
}

#life::after {
  content: '\A';
  white-space: pre;
}

.support > a:first-of-type {
  display: none;
}

@media (orientation: portrait) {
  .img-main {
    width: 100vw;
    height: initial;
  }

  main {
    margin: 0;
    margin-top: 93vw;
  }

  h1 {
    font-size: 3rem;
  }

  h1,
  h2 {
    text-align: center;
  }

  .cta {
    margin: 7vmin auto;
    margin-top: 3rem;
  }

  #life::after {
    content: none;
  }

  .support {
    flex-direction: column;
    align-items: center;
  }

  .support p {
    margin: 2rem 0;
  }

  .support img {
    margin-bottom: 3rem;
  }

  img[alt~='uk'] {
    height: initial;
    width: 10rem;
    margin-bottom: 2rem;
  }

  .support > a:first-of-type {
    display: initial;
  }
  .support > a:last-of-type {
    display: none;
  }
}

@media (orientation: landscape) and (max-width: 1240px) {
  .img-main {
    position: fixed;
    margin-right: calc(100vw - 1240px);
  }
}

@media (orientation: landscape) and (max-height: 900px) {
  h1 {
    font-size: 11vh;
    font-size: max(11vh, 3rem);
  }

  h2 {
    font-size: 3vh;
    font-size: max(3vh, 1.2rem);
  }

  p {
    font-size: 2vh;
    font-size: max(2vh, 0.8rem);
  }

  .cta {
    margin-top: 2rem;
    width: 11.5rem;
    width: 23vh;
    height: 7vh;
    line-height: 7vh;
  }
}
