body {
  padding: 4rem 5vw;
  padding-bottom: 2.5vw;
}

.desktop-nav {
  width: 35rem;
  max-width: 100%;
}

.mobile-nav {
  position: absolute;
  top: 1rem;
}

b * {
  text-decoration: none;
  color: inherit;
}

h2 {
  margin-top: 5rem;
  font-size: 2rem;
}

hr + h2 {
  margin-top: 0;
}

img[alt~='photo'] {
  max-width: min(30rem, 100%);
  margin-top: 3rem;
}

@media (orientation: portrait) {
  .desktop-nav {
    display: none;
  }

  h2 {
    margin-top: 2rem;
  }
}
