body {
  padding-left: 5vw;
  padding-right: 5vw;
  padding-bottom: 2.5vw;
  height: initial;
}

.desktop-nav {
  width: 30rem;
  max-width: 100%;
  margin-top: 2rem;
}

.mobile-nav {
  position: absolute;
  top: 1rem;
}

b * {
  text-decoration: none;
  color: inherit;
}

h2 {
  margin-top: 5rem;
  font-size: 2rem;
}

h2:first-of-type {
  margin-top: 5rem;
}

hr + h2 {
  margin-top: 0;
}

img[alt~='photo'] {
  margin: 1rem 0;
  max-width: 45vh;
  max-width: min(45vh, 100%);
}

body > p {
  max-width: 55ch;
}

article {
  max-width: 55ch;
  border-top: 1px solid #17254a33;
  border-bottom: 1px solid #17254a33;
}

article p {
  margin: 0.7rem 0;
}

article a {
  margin: 0;
  font-size: 1.5rem;
  text-decoration: none;
}

@media (orientation: portrait) {
  h2 {
    margin-top: 2rem;
  }
}

@media (orientation: landscape) and (max-height: 900px) {
  h2 {
    margin-top: 4vh;
    margin-bottom: 4vh;
  }

  img[alt~='photo'] {
    margin-top: 0;
  }

  .desktop-nav {
    margin-top: 0;
  }
}
