body {
  padding: 4rem 5vw;
  padding-bottom: 2.5vw;
}

.desktop-nav {
  width: 35rem;
  max-width: 100%;
}

.mobile-nav {
  position: absolute;
  top: 1rem;
}

b * {
  text-decoration: none;
  color: inherit;
}

h2 {
  margin-top: 5rem;
  font-size: 2rem;
}

hr + h2 {
  margin-top: 0;
}

img[alt~='photo'] {
  margin-top: 1rem;
  max-width: 45vh;
  max-width: min(45vh, 100%);
}

@media (orientation: portrait) {
  .desktop-nav {
    display: none;
  }

  h2 {
    margin-top: 2rem;
  }
}

@media (orientation: landscape) and (max-height: 900px) {
  body {
    padding-top: 4vh;
  }

  .content {
    padding-top: 0;
  }

  h2 {
    margin-top: 4vh;
    margin-bottom: 4vh;
  }

  img[alt~='photo'] {
    margin-top: 0;
  }
}
